{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    email = "11527327+larstomas@users.noreply.github.com"
    onepasswordAccount = "4MRZYKZV3FBLJNPBDUWTF36IF4"
    osid = {{ $osID | quote }}