#[filter "lfs"]
#	smudge = git-lfs smudge -- %f
#	process = git-lfs filter-process
#	required = true
#	clean = git-lfs clean -- %f
[user]
	name = Tomas Bäckman
	email = {{ onepasswordRead "op://Private/Github/github-email" }}
[credential]
	helper = osxkeychain
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true

[core]
	editor = vim
[alias]
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    pm = push origin HEAD:refs/for/master
    rhm = reset --hard origin/master
    rsm = reset --soft origin/master
	st = status
	co = checkout
	br = branch
	c = commit
	a = add -pi
	ca = commit --amend
	pb ="!f() { git push origin HEAD:refs/for/$(git branch --show-current);}; f"
	can = commit --amend --no-edit
	current = branch --show-current
	conf = config --global -e
	rsb = "!f() { git reset --soft origin/$(git branch --show-current);}; f"
	rhb = "!f() { git reset --hard origin/$(git branch --show-current);}; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
