[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Tomas Bäckman
	email = {{ .email }}
{{ if (eq .chezmoi.os "darwin") }}eval
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINFcqfIx1KghKXzehtx4IbwsZ1CDQKWQrvAxC4T5Ba9T
[credential]
	helper = osxkeychain
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
{{- end }}
